################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ClassicACE-15aeaad8bd753c8cf63164752456a5a9b8a0e00b/Database/World DB EXPORT.7z
